<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>{{.Title}}</title>
  <meta name="description" content="Cow or Car">
  <meta name="author" content="Anthony Vitale">

  <link rel="stylesheet" href="css/styles.css?v=1.0">
  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
</head>

<body>
    <p>Welcome to Cow or Car</p>
    <img src={{.ImageUrl}} alt="Image to guess">
  <script src="js/scripts.js"></script>
</body>
</html>